<html>
    <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; height: 9%; width: 100%; padding-top: 3rem; background-color: bisque;">
    <h1>This is Homepage</h1>
    <div >
    <a style="font-size: larger; margin: 2rem; border-style: none;  text-decoration: none; padding: 5px; border-radius: 10px; color: black;" href="{% url 'register' %}">Register</a>
    <a style="font-size: larger; border-style: none; text-decoration: none; padding: 5px; border-radius: 10px; color: black;" href="{% url 'my-login' %}">Login</a>
</div>
</div>
<div style="height:85%; background-color:azure; font-size: xx-large; display: flex; justify-content: center; align-items: center;">Cards and Content...</div>
</html>